body {
    margin: 0;
    padding: 0;
    height: '100vh';
    overflow-x: hidden;
    font-family: Titillium Web, Helvetica, Arial, sans-serif !important;
    min-width: 360px;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    z-index: -1;
}

::-webkit-scrollbar {
    width: 0px;
    height: 8px;
    z-index: -1;
}

::-webkit-scrollbar-track {
    background-color: #f0f2f5;
}

.link-underline {
    text-decoration: none;
    color: #a4a5a5;
}

.link-underline:hover {
    text-decoration: underline;
    color: #7fc2fa;
}

.link {
    color: #a4a5a5;
}

.link:hover {
    color: #7fc2fa;
}

/* #f8fafe; */
.container {
    background: #f8fafe;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ellipsis {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: block;
}
